@font-face {
    font-family: "Butler";
    src: url(fonts/Butler_Light.otf);
    font-weight: 400;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

.main-information {
    position: relative;
    height: 100vh;
}

.image-background {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 100%;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.headers-container {
    position: absolute;
    text-align: center;
    background-color: white;
    width: 40%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -1;
    padding-top: 100px;
    padding-bottom: 70px ;

}

h1 {
    font-family: "Butler", sans-serif;
    font-size: 87px;
    font-weight: 400;
    margin: 0px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.info-header {
    font-family: "Butler", serif;
    font-weight: 400;
    font-size: 87px;
}

.work-positions {
    font-weight: 500;
    font-size: 18px;
    color: #636363;
}

.quote {
    font-family: "Butler", serif;
    font-weight: 400;
    font-size: 32px;
}

.designer-title {
    font-weight: 700;
}

.information-section {
    font-weight: 400;
}

.testimonial-list {
    font-weight: 700;
}


.strengths-list {
    font-family: "Butler", sans-serif;
    font-size: 34px;
    font-weight: 400;
    list-style: none;
}

.testimonial-list a {
    font-weight: 400;
}