@font-face {
    font-family: "Butler";
    src: url(fonts/Butler_Light.otf);
    font-weight: 400;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

.main-information {
    position: relative;
    height: 100vh;
}

.image-background {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 100%;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.headers-container {
    position: absolute;
    text-align: center;
    background-color: white;
    width: 40%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -1;
    padding-top: 100px;
    padding-bottom: 70px;
}

h1 {
    font-family: "Butler", sans-serif;
    font-size: 87px;
    font-weight: 400;
    margin: 0px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.biography {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 150px;
    margin-top: 135px;
    max-width: 1500px;
    margin: 135px auto;
}

.img {
    width: 553px;
    height: 840px;
}

.biography-title {
    position: absolute;
    transform: rotate(270deg);
    transform-origin: left;
    text-align: right;
    bottom: 0;
    right: 0;
}

.info-header {
    font-family: "Butler", serif;
    font-weight: 400;
    font-size: 87px;
}

.work-positions {
    font-weight: 500;
    font-size: 18px;
    color: #636363;
}

.quote {
    font-family: "Butler", serif;
    font-weight: 400;
    font-size: 32px;
    width: 415px;
    height: 189px;
}

.designer-title {
    font-weight: 700;
}

.information-section {
    font-weight: 400;
}

.testimonials {
    display: grid;
    max-width: 1500px;
    grid-template-columns: 100px 60px 515px 200px 221px;
    grid-template-rows: 60px 300px 300px 300px;
    margin-top: 150px;
    margin-left: 130px;
}

.testimonials-header {
    grid-column: 1 / 4;
    padding-left: 100px;
}

.testimonial-image {
    width: 515px;
    height: 757px;
    grid-row: 2 / 5;
    grid-column: 2/3;
    grid-column-start: center;
    padding-left: 18px;
}

.info-testimonials {
    font-family: "Butler", serif;
    font-weight: 400;
    font-size: 32px;
    grid-column: 5 / 6;
    grid-row: 2 / 5;
    text-align: center;
    height: 320px;
}

.testimonial-list {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    margin-left: 50px;
}

.testimonial-links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    margin-inline: 0;
    padding-inline: 0;
    margin-block: 0;
}

.testimonial-links li {
    transform: rotate(270deg);
    transform-origin: right;
}

.strengths-list {
    font-family: "Butler", sans-serif;
    font-size: 34px;
    font-weight: 400;
    list-style: none;
}

.testimonial-list a {
    font-weight: 400;
}

.header-points {
    margin-top: 250px;
}